<configuration>
  <packageSources>
    <!-- Any Azure Artifacts feeds within your organization will automatically be authenticated -->
    <!-- Any package source listed here whose URL matches the URL of a service connection in nuGetServiceConnections will also be authenticated.
         The key name here does not need to match the name of the service connection. -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Uncomment and configure your private NuGet feed if needed -->
    <!-- <add key="YourPrivateFeed" value="https://pkgs.dev.azure.com/YourOrganization/_packaging/YourFeed/nuget/v3/index.json" /> -->
  </packageSources>
</configuration>