@media (max-width: 767px) 
    html, body
        height 100%
        overflow visible

    .nav-side-menu 
        position: relative
        width: 100%
        margin-bottom: 10px
        height auto
       
  
    .nav-side-menu 
        .toggle-btn 
            display: block
            cursor: pointer
            position: absolute
            right: 10px
            top: 10px
            z-index: 10 !important
            padding: 3px
            background-color: white
            color: #464646
            width: 40px
            text-align: center
  
    .brand 
        text-align: left !important
        font-size: 22px
        padding-left: 20px
        line-height: 50px !important

    header
        .container
            margin 0px
            padding 0px
            
    .nav-side-menu
        position relative
        left 0px
        .menu-list
            .menu-content 
                .v-cerrar
                    a
                        font-size: 14px
                        
        .toggle-btn
            display block
            cursor pointer
            position absolute
            right 20px
            top 80px
            z-index 10 !important
            background-color white
            border none
            color #0093ca
            font-size 22px
            &:focus
                outline none
            i
                color #0093ca
                font-size 40px

    .v-usuario
        text-align left !important
        font-size 22px
        padding-left 5px
        line-height 50px !important

    form
        .v-formulario
            .form-group
                label
                    font-size: 18px
  
    
      


      label
        font-size: 14px
        font-weight: 300
        color: grisoscuro
        font-weight: 400

@media (min-width: 767px)
    .nav-side-menu
        .menu-list
            .menu-content
                display block

@media (max-width: 375px)
    .nav-side-menu 
        .menu-list 
            .menu-content 
                .v-cerrar
                    position relative
                    bottom: 0px

    section
        .v-titulo
            margin: 40px 0px 10px 0px
            

    header
        h1
            text-align: center
            margin: 0px
         

    .v-formulario
        .form-group
            padding-left: 15px

    .ig-contenedor 
        .ig-contenidos
            padding: 0px
            