<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/css/materialIcons.css" />        <!--Íconos-->
    <link rel="stylesheet" href="~/Content/css/materialize.css" />          <!--Diseño base-->
    <link rel="stylesheet" href="~/Content/css/custom.css" />               <!--Diseño personalizado-->
    <link rel="stylesheet" href="~/Content/css/estilos.css" />              <!--Diseño personalizado-->

    <title>@Recursos.Lenguaje.MensajeError</title>
</head>
<body>
    <div class="col m12 l12">
        <div class="header_contenido">
            <h2>@Recursos.Lenguaje.MensajeError</h2>
            <h3>@Recursos.Lenguaje.Seprodujounerroralprocesarsusolicitud</h3>
        </div>
    </div>
</body>
</html>
