<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <sectionGroup name="elmah">
            <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
            <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
            <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
            <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
        </sectionGroup>
    </configSections>
    <dataConfiguration defaultDatabase="VaroConnectionString" />
    <connectionStrings>
        <add name="VaroConnectionString" connectionString="Server=your-server.database.windows.net;Database=varo-db;User ID=your-user;Password=your-password;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <!--Parametros Globales-->
        <add key="DuracionCacheDatosBasicosEnHoras" value="24" />
        <add key="DuracionCacheClientesEnHoras" value="24" />
        <add key="DuracionCacheUsuariosEnHoras" value="24" />  
        <add key="PrimeraPagina" value="1" />
        <add key="UltimaPagina" value="Last" />
        <add key="PaginaSiguiente" value="Next" />
        <add key="PaginaAnterior" value="Previous" />
        <add key="CantidadDeTarjetasPorPagina" value="6" />
        <add key="CantidadDeRegistrosPorPagina" value="10" />
        <add key="RutaImagenesTecnologia" value="https://stVarostoragedev004.blob.core.windows.net/imagenes/" />
        
        <!--Parametros Microsoft Graph -->
        <add key="UrlEndPoint" value="https://login.microsoftonline.com" />
        <add key="ClientId" value="your-client-id" />
        <add key="ClientSecret" value="your-client-secret" />
        <add key="GrantTypeGraph" value="client_credentials" />
        <add key="Scope" value="https://graph.microsoft.com/.default" />
        <add key="TenantId" value="your-tenant-id" />
        <add key="UrlGraphUsers" value="https://graph.microsoft.com/v1.0/users/" />
        <add key="Dominio" value="@yourdomain.com" />
        <add key="EmailSender" value="varo@yourdomain.com" />
        <!--Parametros Email365 -->
        <add key="Host365" value="smtp.office365.com" />
        <add key="Port365" value="25" />
        <add key="TargetName365" value="STARTTLS/smtp.office365.com" />
        <add key="PasswordApp365" value="your-email-password" />
        <!--Parametros Sombrero Blanco -->
        <add key="UrlWebSiteSombreroBlanco" value="" />
        <add key="UrlWebApiSombreroBlanco" value="https://your-api-endpoint.azurewebsites.net/api/Report/GetScans/" />
        <add key="TokenSombreroBlanco" value="your-api-token" />
        <!--Parametros Urls de Servicios de IB-->
        <add key="UrlServicioWebConsultarPaises" value="https://azurewebsites.net/api/countries" />
        <add key="UrlServicioWebConsultarDepartamentos" value="https://azurewebsites.net/api/states" />
        <add key="UrlServicioWebConsultarCiudades" value="https://azurewebsites.net/api/cities" />
        <add key="UrlServicioWebConsultarDepartamentosPorIdPais" value="https://azurewebsites.net/api/states/getbycountry/" />
        <add key="UrlServicioWebConsultarCiudadesPorIdDepartamento" value="https://azurewebsites.net/api/cities/getbystate/" />
        <add key="UrlServicioWebConsultarClientes" value="https://azurewebsites.net/api/clients" />
        <!--Parametros Urls de Servicios de Sincronizador-->
        <add key="UrlServicioWebConsultarValorMetricaPorSolucionSonar" value="https://azurewebsites.net/api/ConsultarValorMetricasPorSolucion" />
        <add key="UrlServicioWebConsultarProyectosSonar" value="https://azurewebsites.net/api/ConsultarProyectos" />
        <add key="UrlServicioWebConsultarProyectosSonarPorTipoOrigen" value="https://azurewebsites.net/api/ConsultarProyectoPorTipoOrigen" />
        <add key="UrlServicioWebConsultarMetricasSonar" value="https://azurewebsites.net/api/ConsultarMetricas" />
        <add key="UrlServicioWebCrearValorMetricasSonarExterno" value="https://azurewebsites.net/api/CrearValorMetricaProyecto" />
        <add key="UrlServicioWebInactivarProyectoExterno" value="https://azurewebsites.net/api/InactivarProyecto" />
        <add key="UrlServicioWebActualizarProyectoExterno" value="https://azurewebsites.net/api/ActualizarProyecto" />
        <add key="UrlServicioWebCrearProyectoExterno" value="https://azurewebsites.net/api/CrearProyecto" />
        <add key="UrlServicioWebConsultarValorMetricasSonarExterno" value="https://azurewebsites.net/api/ConsultarValorMetrica" />
        <add key="UrlServicioWebConsultarProyectoExternoPorParametro" value="https://azurewebsites.net/api/ConsultarProyectoPorParametro" />
        <!--Parametros reportes-->
        <add key="RutaConsultoriasEN" value="" />
        <add key="RutaSolucionesEN" value="" />
        <add key="RutaPracticasTecnicasEN" value="" />
        <add key="RutaCalidadCodigoEN" value="" />
        <add key="RutaPruebasFuncionalesEN" value="" />
        <add key="RutaMetricasAgilesEN" value="" />
        <add key="RutaHitosEN" value="" />
        <add key="RutaAuditoriasEN" value="" />
        <add key="RutaDesempenoEN" value="" />
        <add key="RutaSeguridadEN" value="" />
        <!--Parametros formas-->
        <add key="RutaRevisionEstimacion" value="https://forms.office.com/r/2S6D9X7s0b" />
        <add key="RutaRevisionArquitectura" value="https://forms.office.com/r/zes9yNWskM" />
    </appSettings>
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
    <system.web>
        <customErrors mode="On" defaultRedirect="~/Shared/Error.cshtml" redirectMode="ResponseRewrite">
        </customErrors>
        <compilation debug="true" targetFramework="4.7.2" />
        <httpRuntime targetFramework="4.6.1" />
        <httpModules>
            <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
            <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
            <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
            <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
        </httpModules>
    </system.web>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
                <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules>
            <remove name="TelemetryCorrelationHttpModule" />
            <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
            <remove name="ApplicationInsightsWebTracking" />
            <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
            <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
            <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
            <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
        </modules>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
    </system.webServer>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>
    <system.diagnostics>
        <trace autoflush="true" indentsize="0">
            <listeners>
                <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
            </listeners>
        </trace>
    </system.diagnostics>
    <elmah>
        <security allowRemoteAccess="true" />
    </elmah>
    <location path="elmah.axd" inheritInChildApplications="false">
        <system.web>
            <httpHandlers>
                <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
            </httpHandlers>
        </system.web>
        <system.webServer>
            <handlers>
                <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
            </handlers>
        </system.webServer>
    </location>
</configuration>